.navbar {
  background-color: #E8E8E8; /* Svetlejšie pozadie navbaru */
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .nav-link {
  color: #2c2c2c !important; /* Tmavší text navbaru */
}

.nav-link:hover {
  color: #404040 !important; /* Tmavší odtieň na hover pre odkazy v navbaru */
}